* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f08b83;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eca57b;
  min-height: 100vh;
  overflow: hidden;
}

@import './src/header.scss';
@import './src/envelope.scss';
